body {
    background-color: hsl(218, 23%, 16%);
    font-family: Arial, Helvetica, sans-serif;
}



#advice-container {
    margin-left: 20px;
    margin-right: 20px;
    background-color: hsl(217, 19%, 38%);
    border-radius: 20px;
    position: absolute;
    -ms-transform: translateY(-50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 300px;
    padding-bottom: 40px;

}

.title {
    color: hsl(150, 100%, 66%);
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.para {
    color: hsl(193, 38%, 86%);
    font-size: 20px;
    font-weight: 300px;
    text-align: center;
    margin: 20px 20px 0px 20px;
}


/* desktop .....................................................................................*/


/* #advice-container {
    display: flex;
    width: 900px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

} */
